*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: black;

}
figure{
    display: flex;
    justify-content: center;
    margin-top: -5px;

}
figure img{
    width: 200px;
}
/*nav bar */
nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;

}
nav a {
    color: blue;
    text-decoration: none;

}
 /*home*/
 .home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;

 }
 .home img{
    margin-left: 20px;
    width: 500px;
    margin-top: 20px;
 }