*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: black;

}
figure{
    display: flex;
    justify-content: center;
    margin-top: -5px;

}
figure img{
    width: 200px;
}
/*nav bar */
nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: grey;
    padding-bottom: 10px;
    padding-top: 10px;

}
nav a {
    color: rgb(25, 25, 129);
    text-decoration: none;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 /*home*/
 .home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;

 }
 .home img{
    margin-left: 20px;
    width: 500px;
    margin-top: 20px;
 }
 .home h2{
    font-size: 40px;
    font-weight: 800px;

 }
 .home input{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;

 }
 /*section*/
 section{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
 }
 section p{
    font-family: cursive;
 }
 /*for mobile apps*/


 @media(max-width:420px){
    figure{
        margin-top: -15px;
        
    }
    figure img{
        width: 100px;
    }

/*homepage*/

.home{
   margin-right: 10px;
   
}
.home div{
    padding: 7px;
    padding-left: 40px;

}
.home div{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;

}
.home h2{font-size: 10px;

 }
 .home input {
    width: 100px;
    height: 20px;
    margin-top: 7px;
 }
 /*section*/
  section {
    font-size: medium;

  }
  section p{
    font-size: smaller;
    padding-top: 10px;

  }
}
#images{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 20px;
}
#books-about-bachakhan{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.books{
    height: 350px;
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 5px;
    padding-bottom: 10px;
}
.books img{
    width: 350px;
    height: 350px;
    border-radius: 5px;
    filter: opacity(0.9);
    
}
.books.group h6{
    position:relative;
    top: -120px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;

}
.books button{
    background: rgb #361b1b;
    color: #4d4444;
    width: 10vw;
    height: vh;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -120px;
}
#best-books{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;

}